<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frisodenijs.tictactoe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.frisodenijs.tictactoe.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frisodenijs.tictactoe.GameActivity"
            android:label="@string/title_activity_game" >
            <intent-filter>
                <action android:name="com.frisodenijs.ViewModel.GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frisodenijs.tictactoe.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="com.frisodenijs.ViewModel.MainMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frisodenijs.tictactoe.EndMenuActivity"
            android:label="@string/title_activity_end_menu" >
            <intent-filter>
                <action android:name="com.frisodenijs.ViewModel.EndMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frisodenijs.tictactoe.PreferencesActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
